
:root {
    --black: black;
    --grismoyen:#8E8E8E;
    --grisclair:#F5F5F5;
    --jaune:#FEB340;
    --rose:#F1608C;
    --lila:#E0E0FF;
    --sourcesanspro:'Source Sans Pro', sans-serif;
}

body {
    margin: 0px;
  }

a {
    color: var(--rose);


}
a:link {
    color:var(--rose);
}
a:visited {
    color: var(--grismoyen);
}
a:hover {
   color: var(--rose);
}

a:active {

    color: var(--jaune);
}



ul {
    margin-top: -2rem;;

}

li {
    font-size: 0.7rem;
    list-style: none;
    margin-left: -2.5rem;
}

  /* navbar */

.navbar-nav {
font-family:var(--sourcesanspro);
color:var(--grismoyen);
font-size: 15px;
}

/* all backgrounds */

.background_index {
    width: 100%;
    height: 600px;
    background-image: url(img/patate_homepage.svg);
    background-size: cover;
    background-position: center center;
    text-align: left;
    background-attachment: fixed;

  }

  .background_Competences {
    width: 100%;
    background-color:var(--lila);
    height: 1080px;
    background-size: cover;
    text-align: center;
    background-position: center center;
    background-attachment: fixed;
  }

  .background_ExperiencesProfessionnelles {
    width: 100%;
    background-image: url(img/patate_experiencesprofessionnelles.svg);
    height: 750px;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
  }


  .background_Formations {
    width: 100%;
    background-color:var(--jaune);
    height: 500px;
    background-size: cover;
    text-align: left;
    background-position: center center;
    background-attachment: fixed;
  }
  
  .background_Projets {
    width: 100%;
    background-color:#DFDFFE;
    height: 1080px;
    background-size: cover;
    text-align: left;
    background-position: center center;
    background-attachment: fixed;
  }

  .background_Contact {
    width: 100%;
    background-image: url(img/patate_contact.svg);
    height: 1080px;
    background-size: cover;
    text-align: left;
    background-position: center center;
    background-attachment: fixed;
  }

/* page index */

  .cv_index_intro {
    font-family: 'Sansita', sans-serif;
    font-weight: 700;
    font-size: 2rem;
    line-height: 2.5rem;
    color: black;
    padding-left: 4rem;
}

/* page Compétences */

.containerCompetences {
    padding-top: 2rem;
}

.row {

    font-family:var(--sourcesanspro);
    font-size: 0.512rem;
    padding-top: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    align-items: center;

}

.competences_title {
    border-top: 0.08rem solid black;
    padding: 0.8rem;
    padding-left:2rem;
    padding-right:2rem;
    align-items: center;
    font-size: 1rem;
        }


 /* page Expériences Professionnelles */

.card-subtitle {
    font-size: 0.7rem;
    padding-top: 0.5rem;
}

.card-title-job {
    font-family:var(--sourcesanspro);
    font-weight: bold;
    font-size: 1rem;
} 
.card-brand-job {
    font-family:var(--sourcesanspro);
    font-weight: normal;
    font-size: 1rem;
    padding-left: 0.2rem;
    padding-right: 0.2rem;
} 

.card-place-job {
    font-family:var(--sourcesanspro);
    font-weight: normal;
    font-size: 0.8rem;
} 

/* page Formations */
.card-body {
    width: 20rem;

}

.card-name-formation {
    font-family:var(--sourcesanspro);
    font-weight: bold;
    font-size: 1.2rem;

}

.card-formation {
    font-family:var(--sourcesanspro);
    font-weight: normal;
    font-size: 1.2rem;

}

.card-details {

    font-family:var(--sourcesanspro);
    font-weight:normal;
    font-size: 0.8rem;

}

/* page Projets */

.card-body-projet {
    text-align: left;
    width: 8rem;
    margin-bottom: 8rem;
}

.card-body-eye {
    text-align: left;
    width: 4rem;
    margin-right: 3rem;

}



#eye {
        width: 60px;
        height: 60px;
        border-radius: 30px;
        background:white;
        display:inline-block;
        position: absolute;
        margin-left: 1rem;
        margin-right: 1rem;
    }

#pupille {
    z-index: 1;
    width: 34px;
    height: 34px;
    border-radius: 17px;
    top:50%;
    left:0%;
    background:black;
    transform: translate(110%,34%);
    position: absolute;
    margin-left: 1rem;
    margin-right: 1rem;

    }

.voir-projet {
        font-family:var(--sourcesanspro);
        font-weight: normal;
        font-size: 1.2rem;
    margin-top: 1.2rem;
    }
   

